@import "tailwindcss";
@theme {
  --breakpoint-sm: 577px;
  --breakpoint-xs: 480px;
  --breakpoint-lx: 992px;
  --breakpoint-xxl: 1440px;
  --breakpoint-3xl: 1600px;
  --breakpoint-xl: 1260px;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/TTNormsProMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/TTNormsProExpanded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms Pro";
  src: url("/fonts/TTNormsProExpanded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
