@import "tailwindcss";
@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lx: 992px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;
  --breakpoint-xxxl: 1600px;
  --font-tt: "TTNormsPro", sans-serif;
  --font-ttItalic: "TTNormsProItalic", sans-serif;
}
@font-face {
  font-family: "TTNormsPro";
  src: url("/fonts/TTNormsPro-Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTNormsProItalic";
  src: url("/fonts/TTNormsPro-It.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
