@import "tailwindcss";
@theme {
  --breakpoint-sm: 577px;
  --breakpoint-xs: 480px;
  --breakpoint-lx: 992px;
  --breakpoint-xxl: 1440px;
  --breakpoint-3xl: 1600px;
  --breakpoint-xl: 1260px;
  --font-tt: "TTNormsPro", sans-serif;
  --font-ttItalic: "TTNormsProItalic", sans-serif;
}
@font-face {
  font-family: "TTNormsPro";
  src: url("/fonts/TTNormsPro-Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TTNormsProItalic";
  src: url("/fonts/TTNormsPro-It.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
